html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

ul {
  list-style: none;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';

max-width: 1400px;
text-align: center;


}

.articles {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.articles li {
  padding: 10px;
border-style: double;
margin-bottom: 10px;
}

.articles h2 {
  max-width: 320px;
}

.search-form {
  margin-bottom: 30px;
}


.button {
  padding: 10px;
  color: white;
  background-color: rgb(139, 139, 214);
  border: transparent;
  border-radius: 20px;
  outline: transparent;
  cursor: pointer;
}

.button.is-hidden {
  display: none;
}




/* Loader */


.loader.is-hidden {
  display: none;
}
